@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: white;
  padding-left: 20px;
}

img{
  border-radius: 30px;
  margin-top: 15px;
  width: 125px;
}

h1 {
  font-family: "Arial", sans-serif;
  color:pink;

}
p{
  font-family: "Lucida Handwriting", cursive;
  font-size: 20px;
    color:red;
}

button {
  background-color: lightblue;
  border: none;
  padding: 15px;
  margin: 5px;
  font-family: "Helvetica", sans-serif;
  border-radius: 10px;
}